<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="true" />

    <!-- Required so we can grantUriPermission() to the launcher on Android 11+ -->
    <queries>
        <package android:name="com.spocky.projengmenu" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/plugin_name"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_banner"
        android:theme="@style/Theme.ProjectivyWallpaperProvider">

        <activity android:name=".SettingsActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Serves the rendered PNG out of cacheDir to the launcher process -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".WallpaperProviderService"
            android:exported="true"
            android:label="@string/plugin_name"
            android:icon="@mipmap/ic_launcher"
            android:banner="@mipmap/ic_banner"
            tools:ignore="ExportedService">

            <!-- Mandatory for the plugin to be detected, DO NOT CHANGE -->
            <intent-filter>
                <action android:name="tv.projectivy.plugin.WALLPAPER_PROVIDER" />
            </intent-filter>

            <meta-data android:name="apiVersion" android:value="1" />

            <!-- *** GENERATE YOUR OWN UUID V4 *** -->
            <meta-data android:name="uuid" android:value="@string/plugin_uuid" />

            <meta-data android:name="name" android:value="@string/plugin_name" />
            <meta-data android:name="settingsActivity" android:value=".SettingsActivity" />

            <!-- 15 min: weather doesn't move faster than that, and this bounds our API calls -->
            <meta-data android:name="itemsCacheDurationMillis" android:value="900000" />

            <!-- TIME_ELAPSED only (1). Do NOT add CARD_FOCUSED (4) here: it fires
                 roughly once a second during navigation and would re-render constantly. -->
            <meta-data android:name="updateMode" android:value="1" />
        </service>
    </application>
</manifest>
